h1,
h2,
h4,
div,
li {
   font-family: 'Roboto', sans-serif;
   color: #274C5B;
}

.label {
   font-family: 'Yellowtail';
   font-weight: 400;
   font-size: 36px;
   line-height: 65px;
   letter-spacing: 0.36px;
   text-transform: capitalize;
   color: #7EB693;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   max-width: 1440px;
   margin: 0 auto;

   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1380px;
   margin: 0 auto;
}

.content {
   flex: 1 1 auto;
}

/*HEADER*/
.header {
   max-height: 152px;
}

.header__row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 40px 0;
}

.header__logo {
   display: flex;
   align-items: center;
   margin: 0 -120px 0 0;
}

.header__img {
   padding: 0 10px 0 0;
}

.header__title img {
   width: 152px;
   height: 36px;
}

.header__menu {
   padding: 0 120px 0 0;
}

.header__list ul {
   display: flex;
}

.header__list li {
   font-weight: 600;
   font-size: 20px;
   line-height: 32px;
   letter-spacing: 0.36px;
   padding: 0 40px 0 0;
}

.header__list li:first-child {
   color: #7EB693;
}

.header__bascet {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   border: 1px solid #D4D4D4;
   min-width: 160px;
   min-height: 72px;
   border-radius: 33px;
   font-weight: 600;

}

.header__button {
   height: 56px;
   width: 56px;
   background-color: #274C5B;
   border-radius: 50%;
}

.header__bascet div {
   padding: 0px 10px 0 0;
}

/*PREVIEW*/
.preview {
   position: relative;
   background: url(./img/preview.svg) 0 1px no-repeat;
   min-height: 913px;
   max-width: 1440px;
   margin: 0 auto;
}

.preview__column {
   position: absolute;
   top: 24%;
   display: flex;
   flex-direction: column;
   max-width: 600px;
}

.preview__title {
   margin: 14px 0 30px 0;
   font-weight: 700;
   font-size: 70px;
   line-height: 84px;
   letter-spacing: 0.36px;
}

.preview__button {
   display: flex;
   justify-content: space-around;
   align-items: center;
   max-width: 219px;
   height: 82px;
   background: #EFD372;
   border: 1px solid #EFD372;
   border-radius: 16px;
}

.preview__button button {
   color: #274C5B;
   background-color: #EFD372;
   font-weight: 400;
   font-size: 19px;
   line-height: 32px;
   letter-spacing: 0.36px;
   text-transform: capitalize;
}

.preview__submit {
   width: 36px;
   height: 36px;
   background-color: #274C5B;
   border-radius: 50%;
}

/*PROMOTION*/

.promotion {
   height: 658px;
}

.promotion__row {
   display: flex;
   justify-content: space-between;
   padding: 140px 0;
}

.promotion__column {
   display: flex;
   flex-direction: column;
   min-width: 665px;
   height: 378px;
}

.column-natural {
   background: url(./img/promotion1.svg) 100% no-repeat;
}

.column-natural h3 {
   color: #ffffff;
}

.column-natural div {
   color: #ffffff;
}

.column-offer {
   background: url(./img/promotion2.svg) 100% no-repeat;
}

.promotion__label {
   padding: 105px 0 0 55px;
}

.promotion__subtitle {
   font-weight: 400;
   font-size: 40px;
   line-height: 52px;
   letter-spacing: 0.36px;
   max-width: 370px;
   padding: 0 55px;
}

.promotion__subtitle .column-offer {
   color: #274C5B;
}

/*ABOUT US*/
.about {
   background-color: #F9F8F8;
   min-height: 1006px;
}

.about__row {
   display: flex;
   padding: 130px 0;

}

.about__img {
   flex: 0 0 675px;
}

.about__row img {
   margin: 47px -30px 0 0;
   width: 100%;
}

.about__column {
   display: flex;
   flex-direction: column;
   padding: 0 0 0 30px
}

.title {
   font-weight: 700;
   font-size: 45px;
   line-height: 58px;
   letter-spacing: 0.36px;
   text-transform: capitalize;
}

.about__text {
   padding: 21px 0 58px 0;
}

.text {
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   letter-spacing: 0.36px;
   color: #525C60;
}

.list-subtitle {
   display: flex;
}

.list-box {
   padding: 0 0 0 20px;
}

.list-subtitle h4 {
   font-size: 25px;
   line-height: 35px;
   letter-spacing: 0.36px;
}

.about__list .text {
   padding: 10px 0 0 0;
}

.list-img {
   flex: 0 0 100px;
   margin: -45px 0 32px 0;
}

.list-img img {
   width: 100%;
}



.about__button {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   display: flex;
   max-width: 199px;
   min-height: 82px;
   background: #274C5B;
   border: 1px solid #274C5B;
   border-radius: 16px;
   margin: 20px 0 0 0;

}

.about__button button {
   background-color: #274C5B;
   border-radius: 16px;
   font-size: 19px;
   line-height: 32px;
   letter-spacing: 0.6px;
   text-transform: capitalize;
   color: #FFFFFF;
}

.about__submit {
   height: 38px;
   width: 38px;
   background-color: #335B6B;
   border-radius: 50%;
}

/*ORGANIC*/

.organic__headlines {
   text-align: center;
   margin: 120px 0 42px 0;
}

.sale-row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.sale-block {
   background-color: #F9F8F8;
   border-radius: 30px;
   margin: 0 20px 20px 0;
}

.sale-container {
   padding: 30px;
}

.sale-button button {
   font-family: 'Open Sans', sans-serif;
   min-width: 118px;
   min-height: 37px;
   border-radius: 8px;
   background-color: #274C5B;
   font-weight: 700;
   font-size: 15px;
   line-height: 27px;
   letter-spacing: 0.36px;
   color: #FFFFFF;
}

.sale-img {
   width: 100%;
}

.sale-subtitle {
   padding: 20px 0 11px 0;
   border-bottom: #D4D4D4 1px solid;
   font-size: 21px;
   line-height: 35px;
   letter-spacing: 0.36px;
}


.price-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 11px 0 0 0;
}


.last-price {
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 32px;
   letter-spacing: 0.36px;
   text-decoration-line: line-through;
   color: #B8B8B8;
   padding: 0 20px 0 0;
}

.new-price {
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 32px;
   letter-spacing: 0.36px;
   margin: 0 90px 0 -10px;
}

.rating-row img {
   padding: 0 2.5px 0 0;
}

.rating-row img:last-child {
   padding: 0;
}

/*TESTIMONIAL*/

.testimonial {
   background: url(./img/testimonial-wrapper.png) no-repeat;
   min-height: 1248px;
   margin: 130px 0 0 0;
}

.testimonial__feedback {
   max-width: 966px;
   min-height: 748px;
   margin: 0 auto;
   border-bottom: #E0E0E0 2px solid;
   padding: 130px 0 0 0;
}

.testimonial__column {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.testional__headlines {}

.testimonial__label {}

.testimonial__title {}

.testimonial__img {
   padding: 60px 0 20px 0;
}

.testimonial__rating img {
   width: 22px;
   height: 20px;
}

.rating-row {}

.testimonial__text {
   padding: 34px 0 23px 0;
}

.testimonial__user p:first-child {
   font-weight: 700;
   font-size: 26px;
   line-height: 34px;
   text-align: center;
   letter-spacing: 0.36px;
}

.testimonial__user p:last-child {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 27px;
   text-align: center;
   letter-spacing: 0.36px;
   color: #525C60;
}

.testimonial__advantages {
   max-width: 878px;
   margin: 0 auto;
   padding: 100px 0;
}

.testimonial__row {
   display: flex;
   justify-content: space-around;
}

.testimonial__circle {
   box-sizing: border-box;
}

.border-green {
   border-radius: 200px;
   height: 200px;
   width: 200px;
   border: 6px solid #7EB693;
   border-right: 4px solid #7EB693;
   border-bottom: 4px solid #7EB693;
}

.border-white {
   border-radius: 194px;
   height: 190px;
   width: 190px;
   border: 6px solid #FFFFFF;
}

.wrapper-grey {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #F1F1F1;
   border-radius: 180px;
   height: 180px;
   width: 180px;
}

.wrapper-grey p:first-child {
   font-weight: 700;
   font-size: 42px;
   line-height: 55px;
   letter-spacing: 0.36px;
}

.wrapper-grey p:last-child {
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 18px;
   line-height: 32px;
   letter-spacing: 0.36px;
}